* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    height: 600px;
    display: flex;
    justify-content: center;
}

.calculator {
    background-color: aquamarine;
    margin-top: 50px;
    width: 20%;
    height: 400px;
    border: 5px black solid;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    #screen {
        font-size: 200%;
        display: flex;
        justify-content: right;
        align-items: center;
        color: white;
        margin-bottom: 15%;
        padding: 10px;
        width: 100%;
        height: 20%;
        background-color: black;
        overflow: hidden;

    }

    .operator{
        font-size: 70%;
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .buttons {
        div {
            width: 20%;
            text-align: center;
            margin: 15px 0;
            font-size: 200%;
        }

        .num {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: yellow;
            color: black;

        }
    }
}

@media screen and (max-width:1200px) {
    .calculator {
        padding-bottom: 1%;
        height: 360px;
        width: 24%;

        #screen {
            margin-bottom: 10%;
            height: 15%;
        }

        .buttons {
            div {
                margin: 10px 0;
            }
        }
    }
}

@media screen and (max-width:950px) {
    .calculator {
        padding-bottom: 1%;
        height: 300px;
        width: 27%;

        #screen {
            width: 93%;
            margin-bottom: 7%;
            height: 18%;
        }

        .buttons {
            div {
                margin: 5px 0;
            }
        }
    }
}

@media screen and (max-width:800px) {
    .calculator {
        width: 34%;
    }
}

@media screen and (max-width:650px) {
    .calculator {
        width: 40%;
    }
}

@media screen and (max-width:550px) {
    .calculator {
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    .calculator {
        width: 63%;
    }
}

@media screen and (max-width:300px) {
    .calculator {
        width: 75%;
    }
}